<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037079397076-pfju70qdutjkkak24f4og1n3mkb46vb1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037079397076-pfju70qdutjkkak24f4og1n3mkb46vb1</string>
	<key>API_KEY</key>
	<string>AIzaSyDltQ1ydJ5dO6eI7GrE5zZOusFtnIKsiAk</string>
	<key>GCM_SENDER_ID</key>
	<string>1037079397076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-34dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-34dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037079397076:ios:1f1b241db31ea6a9a53141</string>
</dict>
</plist>